button {
    background-color: rgb(197, 231, 194);
    font-size: 16px;
    padding: 15px 30px;
    color: black;
    width: 100px;
}

.count {
    font-size: 50px; 
    padding: 15px 30px;
}

.reset {
    background-color: rgb(255, 199, 177);
    width: 200px;
}

body {
    padding: 15px 30px;
}